VITE_SUPABASE_URL=https://dbdhuuanfsniqvcyuscd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRiZGh1dWFuZnNuaXF2Y3l1c2NkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwODMwMjYsImV4cCI6MjA5NjY1OTAyNn0.46qfdNqpSDiwEjkKlVWYJhkfCutwYv6CeyzY0V_Al0A